.about-page{
    display: flex;
    min-height: 85vh;
    width: auto;
    background-color: rgb(235,234,228);
}
 
.text{
    padding:6rem;
    padding-top: 3rem;
    font-size: 1.2rem;
    animation-name: from-left;
    animation-duration: 800ms;
    animation-timing-function:ease-in;
}
.text-header{
    font-size: 3rem;
}
.text-paragraph{
    padding-top: 0.4rem;
}
.text-paragraph-link{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none;
    background-color: rgb(255,231,6);

    border-radius: 0.4rem;
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color:black;
    font-weight: 400;
    font-size: 1.2rem;
}

.text-paragraph-link:hover{
    background-color: black;
    color:white;
    transition: 1s;
}
.img-container{
    width:50%;
    background-color: rgb(235,234,228);
}

.about-img{
    height:80%;
}

@media (max-width: 990px){
    
    .about-img{
        height: 1px;
        width: 1px;
    }
    .text{
        padding:1rem
    }
}
@keyframes from-left{
    0% {transform: translateX(-1000px) rotateZ(360deg);}
    100% {transform: translateX(0px);}
  }
