.road-part{
    min-height: 80vh;
    background: linear-gradient(90deg, rgb(235,234,228) 70%, rgb(255,231,6) 30%);
}
.part-container{
    background-color: rgb(235,234,228);
    width: 60%;
    padding:3rem;
}
.part-body{    
    width: 600px;
}
.part-dates{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.part-text{
}
@media (max-width: 900px){
.part-dates{
    flex-direction: column;

}
.road-part{
    background:  rgb(235,234,228);
    width:100%;
}
    }
     