.way{
    background-color: rgb(235,234,228);
    display: flex;
}
.way-img{
    max-width: 40%;
}
.all-parts{
    margin-left: 2rem;
}
.part-container{
    background: none; /*reset link style*/
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none; /*reset link style*/
    margin-bottom: 0px;
}
.part{
    margin: 2rem;
    height: 140px;
    width: 330px;
    padding-left: 2rem;
    border-radius: 0.3rem;
    background-color: rgb(255,231,6);
}
.part-name{}
.part-from{}
.part-to{}

@media (max-width: 900px){
.way-img{
    display: none;
}
.part{
}
}
 