.allPosts{
    display: flex;
}

.post{
    display: flex;
    flex-direction: column;
    width: 400px;
}   

.post-nav{}
.post-nav-item{}
.post-nav-button{}
.post-title{}
.post-subtitle{}
.post-posted{}
.Society{}
.Movies{}
.Programming{}
.Cooking{}