/* 
black
white
gold rgb(255,231,6)
linen rgb(235,234,228)
 */

.post-container{
    display: flex;
    min-height: 80vh;
}
.post{
    background-color: rgb(235,234,228);
    width: 70%;

}
.postBody{
    margin:6rem;
    width: 600px;
}

.post-subtitle{
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-top: 3rem;
}
.post-posted{}
.post-image{
    position: relative;
    top: 7rem;
    left:-10rem;
    max-height: 600px;
    max-width: 30rem;

}
.image-background{
}

