.map{
    margin:6rem;
    margin-top: 3rem;
}
.map-header{}
.map-window{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: rgb(235,234,228);
}
.map-window-link{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none; /*reset link style*/

    flex: 0 0 30%; /*grow | shrink | basis */

    margin: 0.5rem;
    font-size: 1.5rem;

}
.map-window-link::before{
    display: inline;
    content: ' ';
    width: 1rem;
    transition: 10ms;
}

.map-window-link:hover::before{
    display: inline;
    content: '----';
    background-color: black;
    border-radius: 50%;
    height: 10px;
}

.from-left{
    animation-name: from-left;
    animation-duration: 1.5s;
    animation-timing-function:ease-out;
}
.from-right{
    animation-name: from-right;
    animation-duration: 1.5s;
    animation-timing-function:ease-out;
}
@media (max-width: 990px){
.map{
    margin: 1rem;
 }
}

@keyframes from-left{
    0% {transform: translateX(-500px);}
    100% {transform: translateX(0px);}
  }
  @keyframes from-right{
    0% {transform: translateX(500px);}
    100% {transform: translateX(0px);}
  }