.main-container{
    display:flex;
    background-color: rgb(255,231,6);
    min-height: 70vh;
    max-height: 800px;
}
.intro{
    width:50%;
    animation-name: from-left;
    animation-duration: 1.5s;
}
.introGreeting{
    margin-left: 2rem;
    margin-top: 8rem; 
    font-size: 2rem;
}
.intro-text{
    margin-top: 2rem;
    margin-left:2rem;
    font-size: 4rem;
}
.intro-description{
    margin-left:2rem;
    font-size: 2rem;;
}
.intro-button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none;

    background-color: white;

    margin-left:2rem;
    border-radius: 0.4rem;
    padding: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color:black;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.intro-button:hover{
    background-color: black;
    color:white;
    transition: 600ms ease-in;
}
.intro-button-text{}

.img-container{
    background-color: rgb(255,231,6);
    max-width: 40%;
    margin-left:12rem;
    margin-top: 3rem;
}
.intro-img{
    height: 700px;
    animation-name: from-right;
    animation-duration: 1.5s;
}
.site-break{
    min-height: 10rem;
    background: linear-gradient(355deg, rgb(235,234,228)50%, rgb(255,231,6) 50%);
}
.second-page{
    background-color:rgb(235,234,228);
    display:flex;
}

.scroll-down {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    align-self: flex-end;
    animation: scroll  1s infinite; 
    animation-timing-function: ease-in;
}

.scroll-down-arrows {
    position: relative;
    /* border: 4px solid black; */
    width: 100px;
    height: 100px;
    border-radius: 100%;
    align-self: flex-end;

}

.scroll-down-stick {
    z-index: 999;
    height: 4px;
    margin:1px;
    width: 30px;
    background: black;
    transition: 0.4s ease;
}

.scroll-down-stick:nth-child(1) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

.scroll-down-stick:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

.scroll-down-stick:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

.scroll-down-stick:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.scroll-down-arrows:hover .scroll-down-stick:nth-child(1) {
    transform: rotate(-135deg);
}
.scroll-down-arrows:hover .scroll-down-stick:nth-child(2) {
    transform: rotate(135deg);
}
.scroll-down-arrows:hover .scroll-down-stick:nth-child(3) {
    transform: rotate(225deg);
}
.scroll-down-arrows:hover .scroll-down-stick:nth-child(4) {
    transform: rotate(-225deg);
}


.newest-posts{
    margin-top: 1rem;
    margin-left: 3rem;
}
.introText2{
    font-size: 2.5rem;
}

.post{
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 330px;
    margin-bottom: 2rem;
    padding-left: 2rem;
    border-radius: 0.3rem;
    background-color: rgb(255,231,6);
}   
.post:hover{
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
transition: 1s;
}

.post-title {
    background: none; /*reset link style*/
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none; /*reset link style*/
    margin-bottom: 0px;
}
.post-subtitle{}
.post-posted{}

.intro-img2{
    margin-top: 4rem;
    width:60%;
}
@media (max-width: 1390px){
    .intro{
        margin-top: -4rem;
    }
}

@media (max-width: 990px){
    
    .intro-img{
        height: 1px;
        width: 1px;
    }
    .intro-img2 {
        height: 1px;
        width: 1px;
    }
    
.intro{
    width:100%;
    margin-top: -6rem;

}
.main-container{
    flex-direction: column;
    justify-items: center;
}
.scroll-down{
    align-self: center;
    margin-top: 3rem;
}

}
@keyframes from-left{
    0% {transform: translateX(-500px);}
    100% {transform: translateX(0px);}
  }
@keyframes from-right{
0% {transform: translateX(500px);}
100% {transform: translateX(0px);}
}
@keyframes scroll{
    0%{transform: translateY(-40px);}
    50%{transform: translateY(0px);}
    100%{transform: translateY(-40px);}
}