@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto-Regular.ttf);

}
/* 
black
white
gold rgb(255,231,6)
linen rgb(235,234,228)
 */

.container {
    margin: auto;
    font-family: Roboto-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:0rem;
    overflow-y: hidden;
  }
  

  .site-title {
    font-size: 3rem;
    font-weight: 700;
    padding-left: 2rem;
    /* animation-name: from-top;
    animation-duration: 1s; */
  }
  .mainbar{
    display: flex;
    background-color: rgb(255,231,6);
    justify-content: space-between;
    min-height: 10vh;
    align-items: center;
  }

  .pageTitleStyle{
    background-color: rgb(255,231,6);
  }
  .heading {
    margin:0rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-size: 2rem;
    font-weight: 400;
    /* animation-name: from-top;
    animation-duration: 1s; */
}

/* 
  @keyframes from-top{
    0% {transform: translateY(-100px);}
    100% {transform: translateY(0px);}
  } */
