.contact{
    background: linear-gradient(90deg, rgb(235,234,228) 65%, rgb(255,231,6) 35%);
    margin:0rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    height: 85vh;
}
.contact-info{
    width:50%;
    animation: show 500ms ease-in;
}
.contact-header{
    font-size: 3rem;
}
.contact-paragraph{
    font-size: 2rem;
}
.text-paragraph-link{

    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none;
}

@media (max-width: 990px){
.contact{
    background:rgb(235,234,228);
}
.contact-info{
    margin-left: -2rem;
}
    
}
@keyframes show{
    0% {transform: scale(0.25) rotate(360deg);}
    100% {transform: scale(1);}
  }
