.main-container{
    display:flex;
    background-color: rgb(255,231,6);
    min-height: 85vh;
}

.intro{
    width:50%
}
.introGreeting{
    margin-left: 2rem;
    margin-top: 12rem;
    font-size: 2rem;
}
.intro-text{
    margin-top: 3.5rem;
    margin-left:2rem;
    font-size: 4rem;;

}
.intro-button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none;


    background-color: rgb(235,234,228);

    margin-left:2rem;
    border-radius: 0.4rem;
    padding: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color:black;
    font-weight: 700;
    font-size: 1.5rem;
}
.intro-button-text{}

.img-container{
    background-color: rgb(255,231,6);
    max-width: 50%;
}
.intro-img{
    height: 80%;
    margin-top:3rem;
}
@media (max-width: 990px){
    
    .intro-img{
        display: none;
    }
    
.intro{
    width:100%
    
}
}